.title {
  margin-bottom: 5vh;
}

.card {
  margin: auto;
  max-width: 950px;
  width: 100%;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 1rem;
  border: transparent;
}

.cart {
  background-color: #013a34;
  padding: 4vh 5vh;
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
  width: 100%;
}

.scroll-container {
  height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
}

.scroll-content {
  padding: 10px;
}

.summary {
  background-color: #ddd;
  /* border-top-right-radius: 1rem; */
  /* border-bottom-right-radius: 1rem; */
  padding: 4vh;
  color: rgb(65, 65, 65);
  width: 100%;
  /* padding-top:100px; */
}

.summary .col-2,
.summary .col-10 {
  padding: 0;
}

.title b {
  font-size: 1.5rem;
}

.col-2,
.col {
  padding: 0 1vh;
}

a,
.close {
  padding: 0 1vh;
}

.close {
  margin-left: auto;
  font-size: 0.7rem;
}

.cartProductImage img {
  width: 3.5rem;
}

.back-to-shop {
  margin-top: 4.5rem;
}

h5 {
  margin-top: 4vh;
}

hr {
  margin-top: 1.25rem;
}

form {
  padding: 2vh 0;
}

select,
input {
  border: 1px solid rgba(0, 0, 0, 0.137);
  padding: 1.5vh 1vh;
  margin-bottom: 4vh;
  outline: none;
  width: 100%;
  background-color: rgb(247, 247, 247);
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

.checkout-btn {
  background-color: #000;
  border-color: #000;
  color: white;
  width: 100%;
  font-size: 0.7rem;
  margin-top: 4vh;
  padding: 1vh;
  border-radius: 0;
}

#code {
  background-image: linear-gradient(
      to left,
      rgba(255, 255, 255, 0.253),
      rgba(255, 255, 255, 0.185)
    ),
    url("https://img.icons8.com/small/16/000000/long-arrow-right.png");
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: center;
}

.wrpper {
  background-color: #013a34;
  font-family: "msRegular-wide", sans-serif;
}

.custom-btn {
  background-color: #ffe9a3;
  color: #013a34;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0 5px;
}

.clear-btn {
  background-color: #ffe9a3;
  border: 2px solid #013a34;
  color: #013a34;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.clear-btn:hover {
  background-color: transparent;
  color: white;
}

.total-item {
  font-size: 20px;
  font-weight: bold;
  color: #ffe9a3;
  padding: 10px;
}

.wrpper h1 {
  color: #ffe9a3;
  padding-top: 3%;
  padding-left: 20%;
}
