/* Footer Styles */
#footer-main .col-md-3 {
    padding: 30px 50px;
}

#footer-main {
    background-color: #ffffff;
    color: #000000;
    padding: 30px 0;
    min-width: 100%;
    overflow-x: hidden;
}

#footer-main h4 {
    color: #000000;
}

#footer-main p {
    margin-bottom: 10px;
}

/* Remove dots from list items */
#footer-main ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer-main ul li {
  margin-bottom: 8px;
}

#footer-main a{
  text-decoration: none;
  color: rgb(75, 72, 72)
}

.i {
    margin-right: 10px;
}

.logo-img {
    min-width: 100px;
    margin-right: 10px;
    margin-left: 0;
}

.payment-img {
    max-width: 300px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    #footer-main {
        padding: 30px 0;
    }

    #footer-main .col-md-3 {
        margin-bottom: 30px;
    }

    #footer-main .col-md-3 {
      padding: 30px 30px;
      margin-bottom: 10px;
  }
}
